[submodule "RockSnifferLib"]
	path = RockSnifferLib
	url = https://github.com/tnt-coders/RockSnifferLib.git
[submodule "Rocksmith2014PsarcLib"]
	path = Rocksmith2014PsarcLib
	url = https://github.com/tnt-coders/Rocksmith2014PsarcLib.git
