@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
:root {
    --kick-green: #53fc18; /* Neon Green */
    --darkest: #0b0e0f; /* dark black: rgb: 11, 14, 15*/
    --darker: #191b1f; /* black */
    --dark: #24272c; /* light black */
    --gray: #474f54; /* gray */   
}
  
body {
	font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
	font-size: 36px;
	padding: 4px;
	margin: 0;
	text-align: left;
}

/* All text */
div.vocal {       
    padding-left: 16px;
    border-radius: 0 20px 20px 0;    
    color: var(--gray);	   
    background-color: rgba(11, 14, 15, 0.92);
}

/* Active text */
span.lyric {
	color: var(--kick-green);
}