/* This applies to all the text */
body {
	font-family: arial;
}

/* This is the popup container, hide it by default */
div.popup {
	display: none;
}

/* This is the header of the popup, the section containing the text "CURRENT SONG" */
div.header {
	font-family: Arial;
	width: 100%;
	height: 5vw;
	background-color: rgb(40, 56, 72);
	border-radius: 8px 8px 0 0;
	border-bottom: 0.5vw solid black;
	display: flex;
	align-items: center;
}

/* This is the popup block that contains all the data */
div.content {
	overflow: hidden;
	padding-left: 2vw;
	padding-right: 2vw;
	background-color: rgba(85, 98, 111, 0.84);
	border-radius: 0 0 7px 7px;
}

div.song_details {
	width: 74%;
}

/* This applies to the information text */
h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 4.5vw;
	color: white;
	line-height: 4.3vw;
}

/* Classes for outlined stroke text */
.stroke {
	position: relative;
	z-index: 0;
}

.stroke:before {
	position: absolute;
	content: attr(data-stroke);
	-webkit-text-stroke: 0.1em #000000;
	z-index: -1;
}

/* This applies to the accuracy percentage in the title */
h1.accuracy_percentage {
	font-size: 4.5vw !important;
	padding-left: 1vw;
}

/* This applies to the header title text */
h1.title {
	display: inline-block;
	font-size: 3.5vw;
	color: white;
}

/* This applies to the rocksmith guitarpick in the top left corner of the popup */
img.pick {
	height: 70%;
	float: left;
	padding-right: 1.5vw;
	margin-left: 7px;
}

/* This applies to the album cover on the popup */
img.album_cover {
	width: 23%;
	float: right;
	margin: 2vw 0 1vw 0;
	border-style: solid;
	border-color: black;
	border-width: 0.5vw;
}

/* Classes for the progress bar */
div.progress_bar {
	background-color: rgb(40, 56, 72);
	height: 4vw;
	font-size: 4vw;
	margin: 0 0 1vw 0;
	clear: both;
	text-align: center;
}

div.progress_bar_inner {
	background-color: rgba(95, 108, 121, 0.3);
	height: 100%;
	width: 0;
}

p.progress_bar_text {
	padding: 0;
	margin: 0;
	height: 0;
	overflow: visible;
	color: white;
}